#gameView {
    position: relative;
    border: 5px;
    justify-content: center;
    align-items: center;
    border: 5px;
    background-color: darkgray;
    border-color: blanchedalmond;
    padding: 5px;
}

main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
body{
  background-color: black;
}

header {
    background-color: gray;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    border: 15px;
    border-color: brown;
    border-style: calc();
}

#doorleft {
    position: absolute;
    top: 75px;
    left: 200px;
    visibility:hidden;
}

#doorright {
    position: absolute;
    top: 75px;
    left: 520px;
    visibility:hidden;
}

#doorcenter {
    position: absolute;
    top: 270px;
    left: 345px;
    visibility:visible;
}


#arrowrightbutton{
    position: absolute;
    top: 602px;
    left: 440px;
    cursor: pointer;
    visibility: hidden;

}
#arrowleftbutton{
    position: absolute;
    top: 600px;
    left: 265px;
    cursor: pointer;
    visibility: hidden;

}

#arrowbackbutton{
    position: absolute;
    top: 690px;
    left: 360px;
    cursor: pointer;
    visibility: hidden;

}

#arrowstraightbutton{
    position: absolute;
    top: 515px;
    left: 362px;
    cursor: pointer;
    visibility: visible;

}



.positionT1 {
    position: absolute;
    top: 250px;
    left: 160px;
    transform: rotate(20deg);  
    
  }

  .positionT2 {
    position: absolute;
    top: 290px;
    left: 347px;
    width: 100px;
  }
  
  .positionT3 {
    position: absolute;
    top: 250px;
    left: 480px;
    transform: rotate(-20deg);
  }

  .position1 {
    position: absolute;
    top: 250px;
    left: 160px;
    transform: rotateY(45deg); 
  }

  .position2 {
    position: absolute;
    top: 300px;
    left: 370px;
    width: 50px;
  }
  
  .position3 {
    position: absolute;
    top: 250px;
    left: 480px;
    transform: rotateY(-45deg);
    
  }
  
  .hidden{
    display: none;
  }

  #object13{
    cursor: pointer;
  }

  #object14{
    cursor: pointer;
    top: 350px;
    left: 356px;
    width: 80px;
  }

  #advicePop{
    position: absolute;
    width: 730px;
    left: 15px;
    top: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    background: grey; padding: 20px; border: 4px solid black;
    
  }



  #start{
    position: absolute;
    background-color: gray;
    width: 60px;
    top: 400px;
  }

  #parchment{
    position: absolute;
    top: 70px;
  }

  #text{
    position: absolute;
    top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

  #restart{
    position: absolute;
    top: 550px;
    left: 290px;
    width: 100px;
    height: 40px;
    background-color: gray;

  }
  
  .fixed{
    position: relative;
    border: 5px;
    justify-content: center;
    align-items: center;
    border: 5px;
    background-color: darkgray;
    border-color: blanchedalmond;
    padding: 5px;
    
  }





